<div class="selectWrapper">
  <select class="form-control">
    <option>24 hours</option>
    <option>7 days</option>
    <option>30 days</option>
  </select>
</div>

<div class="container">
  <div class="d-flex">
    <div class="col">
      <div class="card">
        <div class="card-body p-1 m-0">
          <canvas id="colevelCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex">
    <div class="col">
      <div class="card">
        <div class="card-body p-1 m-0">
          <canvas id="windspeedCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex">
    <div class="col">
      <div class="card">
        <div class="card-body p-1 m-0"><canvas id="powerCanvas"></canvas></div>
      </div>
    </div>
  </div>
</div>
