import {Injectable} from "@anuglar/core";
import {Http, Response} from "@anuglar/http";
import {Observable} from "rxjs/Observable";
import "rxjs";
import {LatestAqms} from "./latestAqms";
import {LatestColevel} from "./latestColevel";

@Injectable()
export class ApiService{

    private _latestAqmsURL = "http://localhost:8000/api/aqms/latest";
    private _latestColevelURL =  "http://localhost:8000/api/aqms/latest/colevel";

    constructor(private http: Http){

    }
    getLatestAqmsData(): Observable<latestaqmsdata[]>{
        return this.http.get(this._latestAqmsURL).map((response: Response) => {
            return <latestaqmsdata[]>response.json();
        })
        .catch(this.handleError);
    }
    private handleError(error: Response){
        return Observable.throw(error.statusText);
    }
}</latestaqmsdata[]></latestaqmsdata[]>