.cont {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-content: space-between;
  margin-top: 0px;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.data-label-wrapper {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
  // background-color: green;
}

.data-label {
  margin: 50px 20px;
  // background-color: aqua;
  font-size: 30px;
  text-transform: uppercase;
  word-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  font-weight: 600;
}
.data-unit {
  margin: 5px;
  font-size: 30px;
  color: rgb(145, 147, 168);
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}
.data {
  font-weight: 10;
  // background-color: azure;
  font-size: 90px;
  line-height: 120px;
}
.data-label-wrapper-s {
  margin: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: red;
}
.data-label-wrapper-s-item {
  text-align: center;
}

.data-label-s {
  margin: 150px 20px;
  font-size: 15px;
  text-transform: uppercase;
  word-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  font-weight: 600;
}
.data-unit-s {
  font-size: 15px;
  text-transform: lowercase;
  color: rgb(145, 147, 168);
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}
.data-s {
  font-size: 40px;
  font-weight: 10;
}
