<div class="container">
  <div class="data-label-wrapper">
    <span class="data-label">co level</span>
    <span class="data-unit">ppm</span>
    <br />
    <span class="data">{{ colevel.ppm }}</span>
  </div>

  <div class="data-label-wrapper">
    <span class="data-label">windspeed</span>
    <span class="data-unit">m/s</span>
    <br />
    <span class="data">{{ aqms.windspeed }}</span>
  </div>

  <div class="data-label-wrapper-s">
    <div class="data-label-wrapper-s-item">
      <span class="data-label">power</span>
      <span class="data-unit">watts</span>
      <br />
      <span class="data">{{ aqms.watts }}</span>
    </div>
    <div class="data-label-wrapper-s-item">
      <span class="data-label-s">voltage</span>
      <span class="data-unit-s">volts</span>
      <br />
      <span class="data-s">{{ aqms.voltage }}</span>
      <br />
      <span class="data-label-s">current</span>
      <span class="data-unit-s">ampere</span>
      <br />
      <span class="data-s">{{ aqms.ampere }}</span>
    </div>
  </div>
</div>
