<div class="cont">
  <div class="data-label-wrapper">
    <span class="data-label">co level</span>
    <span class="data-unit">ppm</span>
    <br />
    <span class="data">{{ (aqms$ | async)?.ppm | number: "1.0000-0" }}</span>
  </div>

  <div class="data-label-wrapper">
    <span class="data-label">windspeed</span>
    <span class="data-unit">m/s</span>
    <br />
    <span class="data" *ngIf="(aqms$ | async) as aqms">{{
      (aqms$ | async)?.windspeed
    }}</span>
  </div>

  <div class="data-label-wrapper-s">
    <div class="data-label-wrapper-s-item">
      <span class="data-label">wind turbine</span>
      <span class="data-unit">watts</span>
      <br />
      <span class="data" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.wat_wt
      }}</span>
    </div>
    <div class="data-label-wrapper-s-item">
      <span class="data-label-s">voltage</span>
      <span class="data-unit-s">volts</span>
      <br />
      <span class="data-s" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.vol_wt
      }}</span>
      <br />
      <span class="data-label-s">current</span>
      <span class="data-unit-s">ampere</span>
      <br />
      <span class="data-s" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.amp_wt
      }}</span>
    </div>
  </div>
  <div class="data-label-wrapper-s">
    <div class="data-label-wrapper-s-item">
      <span class="data-label">piezo</span>
      <span class="data-unit">watts</span>
      <br />
      <span class="data" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.wat_pz
      }}</span>
    </div>
    <div class="data-label-wrapper-s-item">
      <span class="data-label-s">voltage</span>
      <span class="data-unit-s">volts</span>
      <br />
      <span class="data-s" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.vol_pz
      }}</span>
      <br />
      <span class="data-label-s">current</span>
      <span class="data-unit-s">ampere</span>
      <br />
      <span class="data-s" *ngIf="(aqms$ | async) as aqms">{{
        (aqms$ | async)?.amp_pz
      }}</span>
    </div>
  </div>
</div>
