<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date"
    (dateInput)="addEvent('input', $event)"
    (dateChange)="addEvent('change', $event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>

<mat-card>
  <div class="data">
    <p>raw data</p>
    <li *ngFor="let co of colevel">
      <p>{{ co.ppm }} {{ co.date }} {{ co.time }}</p>
    </li>
  </div>
</mat-card>
