<div>
  <div class="label">
    CO Level
    <span id="good">Good</span>
    <span id="moderate">Moderate</span>
    <span id="usg">Unhealthy for Sensitive Groups</span>
    <span id="unhealthy">Unhealthy</span>
    <span id="vunhealthy">Very Unhealthy</span>
    <span id="hazardous">Hazardous</span>
  </div>
  <canvas id="coCanvas"></canvas>
</div>
<div>
  <div class="label">Windspeed</div>
  <canvas id="windCanvas"></canvas>
</div>
<div>
  <div class="label">
    Power
    <span class="flex-item" id="wt">Wind Turbine</span>
    <span class="flex-item" id="pz">Piezo</span>
    <span class="flex-item" id="both">Total</span>
    <span class="flex-item" id="consumed">Consumed</span>
  </div>
  <canvas id="powerCanvas"></canvas>
</div>
