div {
  margin: 30px;
  font-weight: bold;
}

.label {
}
span {
  padding: 8px;
  color: #212121;
  font-weight: 500;
}
#good {
  background-color: #00e676;
  margin-left: 20px;
}
#moderate {
  background-color: #eeff41;
}
#usg {
  background-color: #ffa000;
}
#unhealthy {
  background-color: #e53935;
}
#vunhealthy {
  background-color: #9c27b0;
}
#hazardous {
  background-color: #c2185b;
}
#consumed {
  background-color: #3cba9f;
}
#generated {
  background-color: #00b0ff;
  margin-left: 20px;
}
